
body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1 {

  margin: 50px auto 0 auto;
  font-family: 'Merriweather', serif;
  font-size: 4rem;
  color:#66BFBF;
}
.sub-heading{
  font-family: 'Lemonada', cursive;
  font-size: 1.5rem;
  margin-left: 150px;
}
h2{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.hobby-row{
  width: 50em;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.logo{
  height: 150px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #ccdfde;
  border-width: 6px;
  width: 5%;
}
.profile{
  width: 60rem;
  margin: auto;
  word-spacing: 7px;
  line-height:30px;
}

.upper-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top : 100px;
  margin-bottom: 20px;


}
.coding-photo{
  width: 10.5em;
  float: left;
  margin-right: 30px;
}
.gaming-photo{
    width: 10.5em;
    float: right;
    margin-left: 30px;

}
.binge-watching-photo{
  width: 10.5em;
  float: left;
  margin-right: 30px;
}
.walking-photo{
  width: 10.5em;
  float: right;
  margin-left: 30px;
}
.eating-photo{
  width: 10.5em;
  float: left;
  margin-right: 30px;
}
.hobby-heading{
  padding-top: 50px;
}
.middle-container{

}
.bottom-container{
  margin-top: 30px;
  line-height: 3;
  background-color: #94b7bc;
  word-spacing: 20px;
  padding: 0 0 20px 0;

}
a{
  color: #050606;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #f9f9f9;
}
.copyright{
  color: #050606;
  font-size: 0.75em;
  word-spacing: normal;
}

.uppar-cloud{
  position: absolute;
  right:250px;
  top:50px;
}
.mountain{
  margin-top: 25px;
}
.lower-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.myButton {
	box-shadow: 0px 0px 1px -1px #3dc21b;
	background:linear-gradient(to bottom, #228491 5%, #94b7bc 100%);
	background-color:#228491;
	border-radius:28px;
	border:2px solid #13808f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	padding:17px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #79ad71;
}
.myButton:hover {
	background:linear-gradient(to bottom, #94b7bc 5%, #228491 100%);
	background-color:#94b7bc;
}
.myButton:active {
	position:relative;
	top:1px;
}
